.GL-parent-container {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-color: #00060d;
    /* filter: brightness(1); */
}

.GL-header {
    height: 100vh;
    background-image: url('https://pngimg.com/uploads/football_player/football_player_PNG119.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 0px;
    z-index: 2;
    position: relative;
}

.GL-header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

.GL-header-contact {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.GL-header-main {
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    padding-left: 350px;
    width: 50%;
}

.GL-header-introduction {
    text-align: left;
}

.GL-header-introduction h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.GL-header-introduction h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.GL-header-introduction p {
    color: hsla(0, 0%, 100%, .8);
}

.GL-header-main .link {
    display: block;
    width: 175px;
}

.GL-header-main button {
    background-color: #fff;
    border-color: #fff;
    color: #0b0b13;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .3px;
    line-height: 42px;
    padding: 0 25px;
    transition: .4s;
    width: 175px;
}

.GL-header-main button:hover {
    color: #fff;
    background-color: #0b0b13;
    border-color: rgb(4, 235, 165);
}

.GL-animated-title {
    color: rgb(4, 235, 165);
    font-size: 24px;
    display: inline-block;

}

.GL-animated-title::before {
    animation: bounceOutUp 2s ease infinite;
}

.GL-animated-description::before {
    animation: bounceOutUp 2s ease infinite;
}

@keyframes bounceOutUp {
    0% {
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateY(20px);
    }

    100% {

        opacity: 0;
        transform: translateY(-2000px);
    }
}