.custom-navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    margin: auto;
    background-color: #0c0c14;
    /* background-color: rgb(17, 18, 17); */
    border-right: 1px solid hsla(0, 0%, 100%, .1);
}

.sidebar-item:hover {
    background-color: hsl(240, 10%, 15%);
}