.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
};

.icons {
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    grid-template-columns: auto auto auto;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: space-between;
    z-index: 2;
    display: flex;
}

;

.icon {
    text-decoration: none;
    background-color: rgb(51, 52, 51);
    cursor: pointer;
    border-radius: 99999px;
    padding: 8px;
    transition: background-color 200ms ease 0s;
}

.icon:first-child {
    padding-left: 0px;
}

.icon .fa-icon {
    fill: "rgb(204, 205, 204)";
    transition: "fill 200ms ease 0s, border-color 200ms ease 0s"
}

.seperated {
    display: block;
    width: 1px;
    background-color: rgb(85, 86, 85);
    align-self: stretch;
    opacity: 0.5;
    margin-right: 2px;
    margin-left: 2px;
}